$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$greyText: #b3b3b3;
$greyNav: #090909;
$greenMain: #1db954;

@font-face {
  font-family: circular-book;
  src: url(../../../assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: circular-bold;
  src: url(../../../assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: circular-black;
  src: url(../../../assets/fonts/CircularStd-Black.otf);
}

.uppercase {
  text-transform: uppercase;
}

.smallText {
  font-size: 0.75rem;
  letter-spacing: 0.8px;
  &.bold {
    font-weight: 600;
  }
}

.likedPage {
    margin-top: 2px;
    background-color: rgb(214, 214, 214);
    .mainInner {
      background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.5)),
        color-stop(40%, #121212)
      );
      background: linear-gradient(#3f2b96, #a8c0ff, #121212 50%);

      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .likedPageInfo {
      text-align: center;
      padding: 1.5rem 0;
      display: flex;
      .likedPageImage {
        width: 250px;
        height: 250px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          -webkit-box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
        }
      }
    }
    .likedPageSongs {
      height: 100%;
      .playlistButtons {
        display: flex;
        align-items: center;
      }
      .playIcon {
        @extend .playIcon;
        opacity: 1;
        position: relative;
        margin-left: 0;
        height: 56px;
        width: 56px;
        right: 0;
        bottom: 0;
        svg {
          height: 26px;
          width: 26px;
        }
      }
      .icons {
        .icon {
          margin-left: 1.5rem;
        }
        .iconsHeart {
          width: 28px;
          height: 28px;
          svg {
            fill: white;
          }
        }
      }
    }
    .likedPageContent {
      text-align: left;
      padding: 1.5rem 2rem;
      h1 {
        font-size: 7rem;
        margin: 0;
        line-height: 1;
        font-family: circular-black;
        letter-spacing: -6px;
      }
      .likedPageDesc {
        margin-top: 30px;
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        p {
          margin: 0;
        }
        span {
          opacity: 0.7;
          position: relative;
          padding-left: 20px;
          &:before {
            content: '';
            width: 4px;
            height: 4px;
            background: white;
            border-radius: 50%;
            position: absolute;
            margin-left: -10px;
            top: 9px;
          }
        }
      }
    }
  }
  
  ul.songList {
    padding: 0;
    li {
      list-style-type: none;
      width: 100%;
      padding: 0.8rem;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      &:hover {
        background: rgba(255, 255, 255, 0.1);
        .songIcon {
          .noteI {
            display: none;
          }
          .playI {
            display: block;
          }
        }
      }
      .songDetails {
        h3 {
          margin: 0;
          font-weight: 300;
          font-size: 1rem;
        }
        span {
          color: rgba(255, 255, 255, 0.7);
          font-size: 0.9rem;
        }
      }
      .songTime {
        margin-left: auto;
      }
      .songIcon {
        padding-right: 1rem;
        .playI {
          display: none;
        }
        svg {
          fill: rgba(255, 255, 255, 0.7);
          width: 15px;
          height: 15px;
        }
      }
    }
}