$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$greyText: #b3b3b3;
$greyNav: #090909;
$greenMain: #1db954;

@font-face {
  font-family: circular-book;
  src: url(../../assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: circular-bold;
  src: url(../../assets/fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: circular-black;
  src: url(../../assets/fonts/CircularStd-Black.otf);
}

.cardsWrap {
    padding-bottom: 0.8rem;
    h2 {
      margin-bottom: 0;
    }
    .cardsWrapInner {
      display: grid;
      grid-gap: 40px;
      grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
      
  
      a {
        color: inherit;
        text-decoration: none;
      }
    }
    .subText {
      margin-top: 0.5rem;
      margin-bottom: 1.2rem;
    }
    .card {
      background: #171717;
      border-radius: 5px;
      overflow: hidden;
      padding: 1.2rem;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      width: 210px;
      transition: background 0.4s ease-in-out;
      &:hover {
        .playIcon {
          opacity: 1;
        }
        background: #282828;;
      }
      .cardImage {
        height: 160px;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3),
          0 1px 2px 0 rgba(0, 0, 0, 0.2);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .cardContent {
        padding: 0.4rem 0;
        h3 {
          font-weight: 600;
          font-size: 0.9rem;
          margin-bottom: 0;
          letter-spacing: 0.6px;
        }
        span {
          font-size: 0.8rem;
          color: $greyText;
        }
      }
    }
  }
  
.playIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    background: $greenMain;
    margin-left: auto;
    opacity: 0;
    position: absolute;
    right: 25px;
    bottom: 5.4rem;
    svg {
      margin: auto;
    }
}